body {
 
  color: #333;
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

/**/

/*---------- NAVBAR ------------*/
.navbar {
	color: white;
	/*height: 75px;*/
	background-color: black;
	opacity: 0.8;
}
.navbar ul li a {
	color: white !important;
	font-size: 15px;
	
}
.navbar a:hover {
	color: white!important;
	background-color: #d9534f;
	border: inset !important 1px;
	border-radius: 2px;
/*	border-bottom: 1px;
	border-bottom:solid;*/
	/*position: relative;
	border-bottom: fixed;*/
	/*font-size: 15px;
	font-kerning: 2px;*/
}
.navbar li {
	margin-right: 15px;
	text-transform: uppercase;
}
.navbar ul{
	/*margin-left: 400px;*/
	margin-left: 150px;
}

.dropdown-menu a{
	background-color: black;
}
/*specail*/
.special{
	color: white;
	margin-top: 10px;
}
.special i{
	color: white;
	float: left;
	padding-right: 10px;
	
}


/*end of special*/
/*breadcrumb*/
.container1 {
	margin:5em;
}

.breadcrumb-dot .breadcrumb-item+.breadcrumb-item::before {
    content: "•";
}

.breadcrumb-bar .breadcrumb-item+.breadcrumb-item::before {
    content: "|";
}

.breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
  vertical-align:top;
  font-size:40px;
  line-height:15px;
}


.breadcrumb-right-tag {
	padding:0;
	background:none;
}
.breadcrumb-right-tag .breadcrumb-item {
	background:rgba(2, 117, 216, 0.8);
	padding:.5em 1em;
}
.breadcrumb-right-tag .breadcrumb-item a, .breadcrumb-right-tag .breadcrumb-item  {
	color:#fff;
}
.breadcrumb-right-tag .breadcrumb-item:nth-child(2) {
	background:rgba(2, 117, 216, 0.6);
}

.breadcrumb-right-tag .breadcrumb-item:nth-child(3) {
	background:rgba(2, 117, 216, 0.5);
}

.breadcrumb-right-tag .breadcrumb-item+.breadcrumb-item::before {
    content: "";
  padding:0;
}

/*end of breadcrumb css*/


/*---------------- WELCOME -----------------*/
.welcome {
	margin-top: -23px;
	position: relative;
}
.welcome img{
	width: 100%;
	height: 420px;
}

#bgchoice {
	margin-top: -10%;
}



/*------------------ SERVICE -------------------*/
.service {
	padding-bottom: 20px;
}
.service h2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.service img {
	width: 100%;
	height: 300px;
}
.service .card {
	margin-bottom: 20px;
}




/*-------------- ABOUT US -------------------*/
.about_us {
	padding: 10px;
}
.about_us h2{ 
	color: #d9534f;
	padding-top: -85px;
}
.about_us p {
	text-align: justify;
}
.about_us img {
	/*border: 50px solid red;*/
    /*border-radius: 70px 70px 70px 70px;*/
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


/*--------------- UPCOMING EVENT -----------------*/
.upcoming_event {
	padding-bottom: 20px;
}
.upcoming_event h2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.upcoming_event .card {
	margin-bottom: 20px;
}



/*--------------- NEWS -----------------*/
.news {
	padding-bottom: 20px;
}
.news h2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.news .card {
	margin-bottom: 20px;
}


/*--------------- NEWS -----------------*/
.rules {
	padding-bottom: 20px;
}
.rules h2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.rules .card {
	margin-bottom: 25px;
}



/*content background*/
.Home-content{
	/*background-color: grey;*/
}
.card .text-center{
width: 100%;
position: relative;
top: 50px;
}
.card-body img{
	position: relative;
	width: 230px;
	height: 230px;
	top: -10px;
	left: -12px;
	
}
.media-body img {
	width: 100%;
	height: 350px;

}
#upcoming{
	background-color: #f5f5f5;
	padding: 15px;
	margin-top: 5px;
	padding: 15px;
	border-style:dashed;
	border:15px;
	border-radius: 5px;
}
#upcoming h2 small{
	color: blue;
	font-size: 15px;
	margin-right: -80px;
}
#upcoming p {
	text-align: justify;
}
#upcoming h2{
	text-align: center;
	color: red;
	border-bottom: solid 1px;
	font-size: 25px;
	font-family: new times roman;
}
#news{
	text-align: center;
	background-color: #f5f5f5;
    margin-top: 25px;
    padding: 15px;
   /* width: 65%;*/
    position: relative;
    padding: 15px;
	border-style:dashed;
	border:15px;
	border-radius: 5px;
}
#news h2{
	text-align: center;
	color: red;
	border-bottom: solid 1px;
	font-size: 25px;
	font-family: new times roman;
}
#news p {
	text-align: justify;
}
#news h2 small{
	color: blue;
	font-size: 15px;
}
#rules{
	text-align: center;
	background-color: #f5f5f5;
	margin-top: 25px;
	padding: 15px;
	border-style:dashed;
	border:15px;
	border-radius: 5px;
}
#rules h2{
    text-align: center;
	color: red;
	border-bottom: solid 1px;
	font-size: 25px;
	font-family: new times roman;
}
#rules h2 small{
	color: blue;
	font-size: 15px;
}
#rules p{
	text-align: justify;
}

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}
{
	padding-left: 700px;
	margin-top: -100px;
}


.sidebar-module {
  padding: 1rem;
}
.sidebar-module  h4{
	color: red;
	font-size: 25px;
}
.sidebar-module-inset {
  margin-top: 5px;
  padding:0px;
  background-color: #f5f5f5;
  border-radius: .25rem;
  padding: 10px;
}
.sidebar-module-inset  h4{
	margin-top: -30px;
	font-size: 15px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*pagination*/

.Page {
	color: black;
	background-color: red;
}

/*end of pagination*/


/*fags css*/

.faq {
	padding: 5px;
}
.faq_header{
	font-size: 70px;
	color:#d9534f;
}
.faq .col{
	background-color: #F5F5F5;
	padding: 10px;
	border: solid 1px silver ;
	border-radius: 4px;
	color: black;
	 font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;

}
#btn{
	margin-left: 1000px;
	margin-top: -40;
}

/*end f faqs*/

/*-------------- Footer -------------*/
.footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.9);
  border-top: .05rem solid #e5e5e5;
  width: 100%;
  border-style: solid 3px;
  border-radius: 3px;
}
.footer p{
  margin-bottom: 0;
}
.footer ul{
  text-align: center;
}
.footer h4{
  margin-left: 35px;
}
.footer p a{
	;
}
.footer .newsletter {
	padding-top: 10px;
	margin-left: 50px;
}
.footer input {
	width: 200px;
	margin-left: 20px;
}
.footer .btn {
	margin-top: -97px;
	margin-left: 230px;
}
.footer .submit {
	margin-top: -54px;
}

.footer .facebook:hover {
	opacity: 1;
	color: #3b5998 !important;
}
.footer .facebook {
	opacity: 1;
	margin-left: 40px;
}
.footer .twitter:hover {
	opacity: 1;
	color: #1DA1F2;
}
.footer .twitter {
	opacity: 0.8;
	margin-left: 20px;
}

.footer .pinterest {
	opacity: 0.8;
	margin-left: 20px;
}
.footer .pinterest:hover {
	opacity: 1;
	color: #BD081C;
}

.footer .linkedin:hover {
	opacity: 1;
	color: #0077B5;
}
.footer .linkedin {
	opacity: 0.8;
	margin-left: 20px;
}

/*----------contact page css------------*/
.contact_infos {
	/*padding: 0px 0 30px;*/
	text-align: center;
	/*background-color: #F5F5F5;*/

}

.contact_infos h2,
.contact_infos h4 {
	color: #4c4c4c;
	margin: 20px 0 20px;
}
.contact_infos p {
	color: #737373;
	font-size: 14px;
	padding-bottom: 40px;
}

.contact_infos i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50px;
	background-color: #d9534f;
	color: #ffffff;
}

.contact_infos i:hover {
	background-color: #ffffff;
	color: #d9534f;
}

.contact_infos .packages {
	padding: 30px;
	/*border: 10px solid #F5F5F5;*/
	background-color: #fff;
	margin-top: 20px;
}
.contact_form {
	padding: 50px 0 80px;
	text-align: center;
}

.contact_form h2 {
	color: #737373;
}

.contact_form textarea {
	height: 125px;
}
/*end of contact page css*/



/*------------ RESPONSIVE DEVICE ------------------*/
@media only screen and (max-width: 500px) {
    body {
        /*background-color: lightblue;*/
    }

    /*--------- NAVBAR ----------*/
    .navbar ul li a {
		color: green;
		font-size: 15px;
	}
	.navbar a:hover {
	color: white!important;
	background-color: #d9534f;
	border: inset !important 1px;
	border-radius: 2px;
	}
	.navbar li {
		margin-right: 20px;
	}
	.navbar ul{
		/*margin-left: 400px;*/
		margin-left: 0px;
	}
	.hideme {
		display: none;
	}
	/*content card*/

	.media-body 
	{
		
	}

	.media-body img {

	width: 100%;
	height: 350px;
	right: 150px;
	margin-right: 150px;

}


	/*-------- SERVICE --------*/
	.service .card .card-title {
		text-align: center;
	}


	/*-------- UPCOMING EVENT --------*/
	.upcoming_event .card .card-title {
		text-align: center;
	}


	/*------------ NEWS ---------------*/
	.news .card .card-title {
		text-align: center;
	}


	/*------------ RULES ---------------*/
	.rules .card .card-title {
		text-align: center;
	}

   /*faqs*/

    .faq {
	padding: 5px;
	}
	.faq_header{
		font-size: 70px;
		color:#d9534f;
	}
	.faq .col{
		background-color: #F5F5F5;
		padding: 10px;
		border: solid 1px silver ;
		border-radius: 4px;
		color: black;
		 font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;

	}
	#btn{
		margin-left: 5px;
		margin-top: -10px;
		position: absolute;
		top: 130px;
		right: 5px;
	}

   /*end of faqs*/
   
   

	/*------------- FOOTER ---------------*/
	.footer .newsletter {
		padding-top: 10px;
		margin-left: 30px;
	}
	.footer input {
		width: 200px;

	}
	.footer .btn {
		margin-top: 0px;
		margin-left: 0px;
	}

}